body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
}

img {
    height: auto;
    width: 500px;
}


h1 , h2, h3 {
    font-family: Geogia, "Times New Roman", serif;
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

a {
    color: #07551b;
    font-weight: bold;
}

.title {
    background-color: rgb(131, 255, 197);
}